
body {
  background-color: #cccccc;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.header {
  padding: 24px;
  background-color: #eeeeee;
}

.content{
  flex: 1;
  display:flex;
  flex-direction:row;
}

.header p {
  margin: 0px
}
.header h1 {
  margin: 0px;
}

.task-add{
  width: 100%;
  margin-right: 4px;
  background-color: white;
  padding: 30px;
}

.title {
  margin-left: 12px;
}

.task-list {
  width: 100%;
  background-color: white;
  padding: 24px;

}

input {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    width: 92%;
    margin-top: 4px;
}

.inp-field {
  padding: 12px 12px 0px 12px;
}

button {
  padding: 10px 20px 10px 20px;
    background: #3e3c3c;
    color: white;
    border-radius: 4px;
    margin: 22px 12px;
}

.task-items {
  padding: 0px;
  border: 2px solid #cccccc;
  border-radius: 4px;
}

.task-item:nth-child(even) {
  background-color: #eeeeee;
}
.task-item:nth-child(odd) {
  background-color: white;
}

li p {
  margin: 0px;
  padding: 8px;
}
span {
  color: #727272;
}
.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1px;
  font-size: 12px;
}

.remove {
  background-color: red;
  color:white;
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
}
